* {
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
}

.home {
    background-image: url(wah.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.educbg {
    background-image: url(a.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.infobg {
    background-image: linear-gradient(rgb(160, 239, 245), rgb(252, 212, 210));
    width: 100%;
    height: 700px;
}

.contactbg {
    background-image: url(millie.gif);
    background-size: cover;
    width: 100%;
    height: 700px;

}

.education {
    float: right;
}

ul {
    border-radius: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(189, 255, 255, 0.74);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(73, 58, 206);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans';
}

a:hover {
    font-size: 18px;
    border-radius: 50px;
    transition: 0.5s;
    color: blue;
}

li a:hover {
    background-color: aqua;
}

.name,
.education,
.portfoliolist {
    color: darkslateblue;
    margin: 150px 200px;
    font-family: 'Lucida Sans';
    background-color: rgba(189, 255, 255, 0.616);
    border-radius: 30px;
    padding: 50px;
}

.contacts {
    position: absolute;
    color: darkslateblue;
    margin: 115px 275px;
    font-family: 'Lucida Sans';
    background-color: rgba(189, 255, 255, 0.616);
    border-radius: 30px;
    padding: 25px;
}

.about {
    color: darkslateblue;
    margin: 100px 100px;
    font-family: 'Lucida Sans';
    background-color: rgb(189, 255, 255);
    border-radius: 30px;
    padding: 50px;
}

td {
    padding: 25px;
}

.trad1,
.trad2,
.trad3 {
    padding: 50px;
}

.copyright {
    text-align: center;
    background-color: black;
    color: white;
}

.msg {
    height: 250px;
    width: 500px;
}

.email,
.fname {
    width: 400px;
}

.submit {
    height: 40px;
    width: 100px;
    background-color: aqua;
    border-radius: 25px;
    border-color: aqua;
}

.submit:hover {
    font-size: 18px;
    transition: 0.5s;
}