.navbar {
    position: fixed;
}

.home {
    background-image: url(wah.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;

}

.educbg {
    background-image: url(a.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 700px;
}

.infobg {
    background-image: linear-gradient(rgb(160, 239, 245), rgb(252, 212, 210));
    width: 100%;
    height: 700px;
}

.contactbg {
    position: absolute;
    background-image: url(millie.png);
    background-size: cover;
    width: 100%;
    height: 500px;

}

.education {
    float: right;
}

ul {
    border-radius: 25px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(189, 255, 255, 0.74);
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(73, 58, 206);
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:hover {
    text-decoration: underline;
    border-radius: 50px;
}

li a:hover {
    background-color: aqua;
}

.name,
.education,
.portfoliolist {
    color: darkslateblue;
    margin: 150px 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(189, 255, 255, 0.616);
    border-radius: 30px;
    padding: 50px;
}

.contacts {
    color: darkslateblue;
    margin: 130px 200px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgba(189, 255, 255, 0.616);
    border-radius: 30px;
    padding: 25px;
}

.about {
    color: darkslateblue;
    margin: 100px 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(189, 255, 255);
    border-radius: 30px;
    padding: 50px;
}

td {
    padding: 25px;
}

.trad1,
.trad2,
.trad3 {
    padding: 50px;
}